# E-Commerce Customer Churn EDA and Machine Learning Classfications
---

E-commerce Customer Churn

Context:

The data set belongs to a leading online E-commerce company. An online retail (E-commerce) company wants to know the customers who are going to churn, so accordingly, they can approach customers to offer some promos.

Features

| Column Name | Description |
| --- | --- |
|	Tenure                  | Tenure of a customer in the company.. |
|	WarehouseToHome         | Distance between the warehouse to the customerâ€™s home|
|	NumberOfDeviceRegistered|    Total number of deceives is registered on a particular customer|
|	PreferedOrderCat        |    Preferred order category of a customer in the last month|
|	SatisfactionScore       |   Satisfactory score of a customer on service|
|	MaritalStatus           |   Marital status of a customer|
|	NumberOfAddress         |     Total number of added on a particular customer|
|	Complaint               |   Any complaint has been raised in the last month|
|	DaySinceLastOrder       |   Day since last order by customer|
|	CashbackAmount          |  Average cashback in last month|
|	Churn                   |   Churn flag|

# 1. Initiate Library & Import Data

In [2]:
#Load data
## EDA Standard Libary

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.stats as ss

In [3]:
#Load data
df = pd.read_csv('/Users/Dwika/My Projects/CAPSTONE 3 PURWADHIKA/DATA/data_ecommerce_customer_churn.csv')

In [7]:
df.head()

,Tenure,WarehouseToHome,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,DaySinceLastOrder,CashbackAmount,Churn
0,15.0,29.0,4,Laptop & Accessory,3,Single,2,0,7.0,143.32,0
1,7.0,25.0,4,Mobile,1,Married,2,0,7.0,129.29,0
2,27.0,13.0,3,Laptop & Accessory,1,Married,5,0,7.0,168.54,0
3,20.0,25.0,4,Fashion,3,Divorced,7,0,NaN,230.27,0
4,30.0,15.0,4,Others,4,Single,8,0,8.0,322.17,0

In [12]:
df['NumberOfAddress'].value_counts()

NumberOfAddress
2     963
3     887
4     406
5     384
1     266
6     263
8     204
7     174
9     171
10    145
11     75
19      1
22      1
21      1
Name: count, dtype: int64